<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% assign num_words = page.content | strip_html | number_of_words %}
{% assign minutes_f = num_words | divided_by: 200.0 %}      # minutes in decimal
{% assign minutes_i = num_words | divided_by: 200 %}        # minutes in integer
{% assign diff = minutes_f | minus: minutes_i %}            # fractional part of minutes
{% if diff >= 0.5 %}
    {% assign minutes = minutes_i + 1 %}
{% else %}
    {% assign minutes = minutes_i %}
{% endif %}
{% if minutes <= 1 %}
    {% assign reading_time = '1' | append: ' minute' %}
{% else %}
    {% assign reading_time = minutes | append: ' minutes' %}
{% endif %}

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <div class="content-container">
    {{ content }}

    {% include footer.html %}
  </div>


</body>
</html>
