---
layout: default
---
<header>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <div class="header-small">
    <a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
  </div>
</header>
<div class="post">
  <div class="post-title">{{ page.title }}</div>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>

  </div>
{% assign num_words = page.content | strip_html | number_of_words %}
{% assign minutes_f = num_words | divided_by: 200.0 %}      # minutes in decimal
{% assign minutes_i = num_words | divided_by: 200 %}        # minutes in integer
{% assign diff = minutes_f | minus: minutes_i %}            # fractional part of minutes
{% if diff >= 0.5 %}
    {% assign minutes = minutes_i + 1 %}
{% else %}
    {% assign minutes = minutes_i %}
{% endif %}
{% if minutes <= 1 %}
    {% assign reading_time = '1' | append: ' minute' %}
{% else %}
    {% assign reading_time = minutes | append: ' minutes' %}
{% endif %}
  {{ content }}

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
  <div class="post-disqus">
      <section id="disqus_thread"></section>
      {% include disqus.html %}
  </div>
  {% endif %}

</div>

