#optin {
	background: #efefef url(images/gray-form.png) repeat-x;
	border: 3px solid #e0e0e0;
	font-weight: bold;
	margin-bottom: 2em;
	padding: 20px 0;
	text-align: center
}
	#optin label { display: block }
	#optin input {
		background: #fff url(images/input.png) repeat-x bottom;
		border: 1px solid #ccc;
		font-size: 14px;
		margin: 0 10px 10px 0;
		padding: 8px 10px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow: 0 2px 2px #ddd;
		-moz-box-shadow: 0 2px 2px #ddd;
		-webkit-box-shadow: 0 2px 2px #ddd
	}
		#optin input.name { background: #fff url(images/name.png) no-repeat 10px center; padding-left: 35px }
		#optin input.email { background: #fff url(images/email.png) no-repeat 10px center; padding-left: 35px }
		#optin input[type="submit"] {
			background: #217b30 url(images/green.png) repeat-x top;
			border: 1px solid #137725;
			color: #fff;
			cursor: pointer;
			font-size: 18px;
			font-weight: bold;
			padding: 8px 0;
			text-shadow: -1px -1px #1c5d28;
			width: 198px
		}
			#optin input[type="submit"]:hover { color: #c6ffd1 }